.button{
    border: none;
    background: white;
    outline: none;
    color: var(--habitus-gray);
    font-size: 12px;
    padding: 4px 11px;
    font-size: 21px;
    transition: background 0.1s, color 0.1s, border 0.1s;
    border-radius: 1px;
    cursor: pointer;
    display: block;
    letter-spacing: 3px;
    font-family: GS;
}
.button:hover{
    background: whitesmoke;
}
.ghost{
    background: transparent;
    padding: 5px 11px;
    border: 2px solid var(--habitus-primary)
}
.ghost:hover{
    background: transparent;
}
.colorSwitch:hover{
    border: 2px solid white;
    color: white !important;
}