.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    max-width: 780px;
    margin: auto;
    padding: 10px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.image{
    height: 130px;
    width: 200px;
    display: block;
    margin-right: 30px;
    background-color: #2f2f2f;
}
.text{
    padding: 20px 5px 20px 0px;
    border-bottom: 1px solid #f57a52;
    max-width: 500px;
    width: 100%;
}
.image a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #00000080;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}
.container:hover .image a{
    opacity: 1;
    visibility: visible;
}
.image span{
    border: 2px solid white;
    border-radius: 50%;
    padding: 12px;
    width: 25px;
    height: 25px;
}
.image img{
    width: 25px;
    height: 25px;
    display: inline-block;
}
.text h4{
    font-weight: normal !important;
    color: white;
    padding-bottom: 20px;
}
.text b{
    color: #f57a52;
}
.text p{
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 100;
    line-height: 18px;
}
@media (max-width: 700px){
    .container{
        flex-direction: column;
        align-items: flex-start;
        width: calc(100% - 20px);
        padding-bottom: 30px;
    }
    .image{
        width: 100%;
    }
}