.container{
    padding: 70px 0px 60px;
    position: relative;
    overflow: auto;
}
.container > span{
    display: block;
    position: absolute;
    width: calc(40vw - 40px);
    bottom: 0px;
    left: 0px;
    height: 10px;
    background-color: #f57a52;
    z-index: 50;
}