.container{
    background: var(--habitus-primary);
    padding: 30px;
    display: flex;
}
.container *{
    text-align: center;
    color: white;
    margin: auto;
    display: block;
}
.map img{
    width: 400px;
    height: 200px;
    display: block;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.info img{
    width: 150px;
    margin: 10px 0px;
}
.container h3{
    font-weight: 100;
    letter-spacing: 4px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 5px;
}
.container p{
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: right;
}
.container a{
    text-decoration: none;
    font-weight: 100;
    font-size: 23px;
    letter-spacing: 3px;
    display: inline-block;
}
.social{
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid white;
    margin: 0px 0px 0px 50px;
}
.social img{
    height: 25px;
    width: auto;
}
@media (max-width: 770px){
    .container{
        margin-top: 30px;
        flex-direction: column;
    }
    .map img{
        width: 240px;
        height: 120px;
        display: block;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    .info img{
        width: 100px;
    }
    .container h3{
        font-size: 20px;
    }
    .container > img{
        width: 90px;
        margin: 5px auto;
    }
    .container p{
        font-size: 20px;
    }
    .container a{
        font-size: 18px;
    }
    .social{
        width: 140px;
        justify-content: space-around;
    }
    .social a{
        width: 38px;
        height: 38px;
        margin: 0px;
        border: 2px solid white;
    }
    .social img{
        height: 20px;
    }
}