.container{
    height: 260px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: url("../../images/logo-banner-white.jpg") center center / cover no-repeat;
}
.content{
    width: 100%;
    max-width: 440px;
}
.content.large{
    max-width: 600px;
}
.container span{
    color: #f57a52;
    font-size: 56px;
    position: absolute;
    left: -90px;
    top: -20px;
    font-weight: bold;
}
.container h2{
    letter-spacing: 1px;
    line-height: 40px;
}
.container h2.large{
    width: fit-content;
    margin: auto;
    font-size: 30px;
}
@media (max-width: 600px){
    .content{
        width: 80%;
        padding-left: 100px;
        max-width: 300px;
    }
    .container h2{
        font-size: 22px;
        line-height: 32px;
    }
    .container span{
        left: 20px;
    }
}