@charset "utf-8";

:root{
    --primary: #f57a52;
    --secondary: #404349;
    --tertiary: #f9f9f9;
    --dark: #3b3f45;
}
/*
@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('./fonts/Helvetica.woff') format('woff');
}
    
@font-face {
    font-family: 'Helvetica Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Oblique'), url('./fonts/Helvetica-Oblique.woff') format('woff');
}
    
@font-face {
    font-family: 'Helvetica Compressed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Compressed'), url('./fonts/helvetica-compressed-5871d14b6903a.woff') format('woff');
}
    
@font-face {
    font-family: 'Helvetica Rounded Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Rounded Bold'), url('./fonts/helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
}
    
@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('./fonts/Helvetica-Bold.woff') format('woff');
}
    
@font-face {
    font-family: 'Helvetica Bold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Bold Oblique'), url('./fonts/Helvetica-BoldOblique.woff') format('woff');
}
        
@font-face {
    font-family: 'Helvetica Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Light'), url('./fonts/helvetica-light-587ebe5a59211.woff') format('woff');
}

@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: normal;
    src: local('Impact'), url('./fonts/impact.ttf') format('ttf');
}
*/
body, html{
	background: var(--dark);
	font-family: sans-serif;
	font-weight: 500;
    margin: 0;
    padding: 0;
}

p,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

*{
    position: relative;
    color: var(--habitus-secondary);
}