@charset "utf-8";

:root{
    --primary: #f57a52;
    --secondary: #404349;
    --tertiary: #f9f9f9;
    --dark: #3b3f45;
}

@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Calibri.ttf') format('truetype');
}
@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/CalibriBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Calibri';
    font-style: italic;
    font-weight: normal;
    src: url('./fonts/CalibriItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Calibri';
    font-style: italic;
    font-weight: bold;
    src: url('./fonts/CalibriBoldItalic.ttf') format('truetype');
}
body, html{
	background: var(--dark);
	font-family: 'Calibri';
	font-weight: 500;
    margin: 0;
    padding: 0;
}

p,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

*{
    position: relative;
    color: var(--habitus-secondary);
}